@use '~@angular/material' as mat;
@import '~@angular/material/theming';

$app-primary: mat.define-palette(mat.$blue-palette, 700);
$app-accent: mat.define-palette(mat.$blue-grey-palette, 700, 300, 900);
$app-warn: mat.define-palette(mat.$red-palette);

// create light theme
$app-light-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);

// themes for notifications
$app-theme-info: mat.define-palette(mat.$blue-palette);
$app-theme-success: mat.define-palette(mat.$green-palette);
$app-theme-warning: mat.define-palette(mat.$yellow-palette);
$app-theme-error: mat.define-palette(mat.$red-palette);

$app-theme-grey: #5f6368;
