@use '~@angular/material' as mat;
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family
$custom-typography: mat.define-typography-config(
  $font-family: 'Google Sans, Helvetica Neue, sans-serif',
);

//@include mat.all-component-typographies($custom-typography);
@include mat.typography-hierarchy($custom-typography);

$lars-caption: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: .8125rem,
  $line-height: 1.38461538,
  $letter-spacing: normal,
);
