<!-- Footer -->
<footer class="footer">

  <mat-divider></mat-divider>

  <div class="container bottom_border">
    <div class="row" fxLayout="row" fxLayoutAlign="space-between">

      <div class="">
        <h3 class="pt2 mat-h2">Why Lars</h3>
        <ul class="footer_ul_amrc">
          <li><a href="">Our values</a></li>
          <li><a href="">Our goals</a></li>
          <li><a href="">Our edge</a></li>
        </ul>
      </div>

      <div class="">
        <h3 class="pt2">Products</h3>
        <ul class="footer_ul_amrc">
          <li><a href="">Lars pricing</a></li>
          <li><a href="">Lars 960 Platform</a></li>
        </ul>
      </div>

      <div class="">
        <h3 class="pt2">Solutions</h3>
        <ul class="footer_ul_amrc">
          <li><a href="">Investing</a></li>
          <li><a href="">Trading</a></li>
        </ul>
      </div>

      <div class="">
        <h3 class="pt2">Engage</h3>
        <ul class="footer_ul_amrc">
          <li><a href="">Blog</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Customers</a></li>
          <li><a href="">Trust Center</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>

    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <p>@2021<a href="#"> Lars Fund Science.</a></p>
    </div>
    <div>
      <ul class="footer_bottom_ul_amrc">
        <li><a routerLink="../privacy">Privacy</a> |</li>
        <li><a routerLink="../terms">Terms</a> |</li>
        <li><a routerLink="../cookies">Cookies</a></li>
      </ul>
    </div>
  </div>

</footer>
