<mat-dialog-content>

  <div *ngIf="models$ | async as models">
    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <mat-select [(ngModel)]="data.trade.modelId" name="model" (selectionChange)="getModelPropreties($event.value)">
        <mat-option *ngFor="let model of models" [value]="model.id">
          {{model.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Timeframe</mat-label>
    <mat-select [(ngModel)]="trade.timeframe">
      <mat-option *ngFor="let timeframe of timeframes" [value]="timeframe">
        {{timeframe}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="padding-bottom: 15px;">
    <button mat-flat-button (click)="trade.valid = !trade.valid" [ngClass]="{'Selected mat-elevation-z8': trade.valid}">
      <mat-icon matTooltip="Valid" matTooltipPosition="right" style="color: #34a853;">
        done
      </mat-icon>
    </button>

    <button mat-flat-button (click)="trade.valid = !trade.valid"
            [ngClass]="{'Selected mat-elevation-z8': !trade.valid}">
      <mat-icon matTooltip="Invalid" matTooltipPosition="above" style="color: red;">close
      </mat-icon>
    </button>
  </div>

  <div *ngFor="let proprety of selectedModelPropreties">
    <div *ngIf="proprety.type === 'number'">
      <mat-form-field appearance="fill">
        <mat-label>{{proprety.name}}</mat-label>
        <input matInput type="number">
      </mat-form-field>
    </div>
    <div *ngIf="proprety.type === 'boolean'">
      <mat-checkbox class="example-margin">
        {{proprety.name}}
      </mat-checkbox>
    </div>
  </div>

  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of trade.tags" selectable removable (removed)="remove(tag)">
        {{tag.name}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             matChipInputAddOnBlur="true" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
