<mat-table [dataSource]="dataSource" matSort style="width: 100%;user-select: none;" class="mat-elevation-z8">
  <!-- Name Definition -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 0 28%"> Name</mat-header-cell>
    <mat-cell *matCellDef="let row" style="justify-content: flex-start;flex: 0 28%">
      <img src="https://storage.googleapis.com/iex/api/logos/{{row.symbol}}.png" width="40px"
           style="border-radius: 15%;box-shadow: 1px 1px 10px 0 rgba(32,33,36, 0.1);max-height: 40px">
      <span style="margin-left: 15px; text-align: left;">{{row?.companyName}}</span>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Symbol Definition -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Average price Definition -->
  <ng-container matColumnDef="average-price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Average price</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row['average-price']}} </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Quantity Definition -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Qte</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Price Definition -->
  <ng-container matColumnDef="latestPrice">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Latest price</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span style="min-width: 50px;">{{row?.latestPrice}}</span>
      <span
        [ngClass]="{'positive' : row?.changePercent > 0,'negative' : row?.changePercent < 0}">{{renderTable__percentChange(row?.changePercent * 100)}}</span>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Market value Definition -->
  <ng-container matColumnDef="market-value">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Value</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{renderTable__price(row.quantity * row?.latestPrice)}}</mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Tags Definition -->
  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Tags</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-chip-list aria-label="List of tags attached to the stock">
        <mat-chip *ngFor="let tag of row.tags" style="font-size: 12px;">
          {{tag.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-cell>
    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayColumns">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns" style="border-left: 4px solid {{row?.color}}">
  </mat-row>
  <mat-footer-row *matFooterRowDef="displayColumns">
  </mat-footer-row>
</mat-table>
