<div id="content">
  <div id="technical-analysis"></div>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_d4af4"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener"
        target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>

  </div>
  <!-- TradingView Widget END -->

  <iframe width="100%" height="1000px"
    src="https://docs.google.com/spreadsheets/d/1o8UdbiX7OewnpkWpLZZQ-C9SgyWhBtWVgGX4jBkTkAY/edit#gid=1531644958">

  </iframe>
</div>