<form [formGroup]="portfolioForm" (ngSubmit)="createPortfolio()">
  <mat-dialog-content>
    <h1>Create Portfolio</h1>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput aria-label="Name" formControlName="name" required>
        <mat-hint>Max 96 chars</mat-hint>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <input type="text" matInput aria-label="Currency" formControlName="currency" required>
        <mat-hint>3-letters ISO 4217</mat-hint>
      </mat-form-field>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" cdkFocusInitial type="submit" [disabled]="portfolioForm.invalid">Add
    </button>
  </mat-dialog-actions>
</form>
