<div class="page-container">

  <div class="container padding-60">
    <div class="title-container">
      <h1 class="mat-display-3">Plans for every level of ambition</h1>
      <div class="subtitle">With insight comes opportunity. We'll help you trade and invest better from the get-go</div>
    </div>
    <div class="switch-container">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">Monthly</mat-button-toggle>
        <mat-button-toggle value="italic">Annually</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="plans-cards-container">

    <mat-card class="plans-card__item mat-elevation-z0">
      <div class="card-title">Basic</div>
      <div class="card-description">For new traders and investors starting their journey</div>
      <div class="card-price">
        <span class="price" aria-hidden="true">0.00</span>
        <span class="measure" aria-hidden="true"><span>USD/</span><span>mo</span></span>
      </div>
      <button mat-flat-button color="primary">Start now</button>
      <mat-divider></mat-divider>
      <h4>Top features</h4>
    </mat-card>

    <mat-card class="plans-card__item mat-elevation-z0">
      <div class="card-title">Pro</div>
      <div class="card-description">Distraction-free trading and investing, with more charts, intervals and indicators
      </div>
      <div class="card-price">
        <span class="price" aria-hidden="true">14.95</span>
        <span class="measure" aria-hidden="true"><span>USD/</span><span>mo</span></span>
      </div>
      <button mat-flat-button color="primary">Start now</button>
      <mat-divider></mat-divider>
    </mat-card>

    <mat-card class="plans-card__item mat-elevation-z0">
      <div class="card-title">Pro+</div>
      <div class="card-description">Intraday technical analysis for day traders looking to take things to the next level
      </div>
      <div class="card-price">
        <span class="price" aria-hidden="true">29.95</span>
        <span class="measure" aria-hidden="true"><span>USD/</span><span>mo</span></span>
      </div>
      <button mat-flat-button color="primary">Start now</button>
      <mat-divider></mat-divider>
    </mat-card>

    <mat-card class="plans-card__item mat-elevation-z0">
      <div class="card-title">Premium</div>
      <div class="card-description">Highest precision and maximum data to capture all possible opportunities</div>
      <div class="card-price">
        <span class="price" aria-hidden="true">59.95</span>
        <span class="measure" aria-hidden="true"><span>USD/</span><span>mo</span></span>
      </div>
      <button mat-flat-button color="primary">Start now</button>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
