.page-container
  display: flex
  align-content: center
  justify-content: center
  flex-direction: column
  text-align: center
  background: white

.plans-cards-container
  display: grid
  grid-template-columns: repeat( 4, 355px)
  grid-gap: 0 20px
  justify-content: center


.plans-card__item
  display: flex
  align-content: center
  flex-direction: column
  background: white
  border-radius: 8px
  box-shadow: 0 2px 30px 5px rgba(0,0,0,.2)
  padding: 45px 20px 20px 20px

h1
  color: #131722
  font-weight: 700
  font-size: 48px
  line-height: 56px
  margin-bottom: 14px

.subtitle
  font-weight: 400
  font-style: normal
  font-size: 18px
  line-height: 28px
  color: #131722

.card-title
  font-weight: 500
  font-size: 36px
  line-height: 44px
  text-align: center
  color: #131722

.card-description
  font-size: 16px
  line-height: 24px
  color: #434651
  margin-top: 6px
  min-height: 72px

.card-price
  padding: 20px 0
  display: flex
  -webkit-box-pack: center
  justify-content: center
  height: 75px

.price
  display: inline-flex
  font-size: 56px
  text-decoration: none
  color: #131722

.switch-container
  display: flex
  -webkit-box-pack: center
  justify-content: center
  margin-bottom: 40px

.title-container
  padding-bottom: 43px
